<form action="{{ path('cart_add_item') }}" method="POST" class="add-to-cart-form">
  <input type="hidden" name="productId" value="{{ product.id }}" />
  <button type="submit" class=" btn  cart-btn" {{ maxQuantity <= 0 ? 'disabled' : '' }}><i class="fa-solid fa-cart-shopping"></i> Ajouter au panier</button>
</form>
