{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<h1 class="text-center">Register</h1>
  <div class="container mb-10 mt-1">{{ form(registrationForm) }}</div>
{% endblock %}
