{% extends 'layout.html.twig' %}

{% block title %}
  categorie
{% endblock %}

{% block content %}
  <div class="container mb-10">
    <h1>Ajout de categorie</h1>
    {{ form(formCategory) }}
  </div>
{% endblock %}
