{% extends 'layout.html.twig' %}

{% block title %}
  Liste des catégories - Admin
{% endblock %}

{% block content %}
  <h1 class="my-4">Gestion des catégories</h1>

  <div class="mb-3">
    <a href="{{ path('category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
  </div>

  <table id="categoryTable" class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td class="text-center">
            <a href="{{ path('category_update', { id: category.id }) }}" class="btn btn-sm btn-primary" title="Modifier"><i class="fas fa-edit"></i></a>
            <form action="{{ path('category_delete', { id: category.id }) }}" class="d-inline-block action-delete">
              <button type="submit" class="btn btn-sm btn-danger" title="Supprimer"><i class="fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="2" class="text-center">Aucune catégorie trouvée.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
