{% extends 'layout.html.twig' %}

{% block title %} Conditions Générales de Vente {% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Conditions Générales de Vente</h1>
    
    <div class="content-section mb-4">
        <div class="content-box p-3 border rounded bg-light">
            {{ ConditionsOfSale }}
        </div>
    </div>
</div>
{% endblock %}    